:root {
  --text-color: theme('colors.gray.900');
  --bg-color: theme('colors.gray.100');
  --border-color: theme('colors.gray.400');
  --btn-bg-color: theme('colors.gray.200');
}

.dark-mode {
  --text-color: theme('colors.gray.100');
  --bg-color: theme('colors.gray.900');
  --border-color: theme('colors.gray.800');
  --btn-bg-color: theme('colors.gray.800');
}

html {
  scroll-behavior: smooth;
}
